<section class="home-hero" aria-label="Nicolas Dominici">
  <img class="home-hero__background" src="/assets/cover.png" alt="" aria-hidden="true" />

  <div class="home-hero__name" aria-label="Nicolas Dominici">
    <div
      data-aos="fade-right"
      data-aos-duration="1300"
      data-aos-easing="ease-out-cubic"
      data-aos-mirror="true"
    >
      <span class="home-hero__word home-hero__word--first">
        NICOLAS
      </span>
    </div>
    <div
      data-aos="fade-left"
      data-aos-duration="1300"
      data-aos-easing="ease-out-cubic"
      data-aos-mirror="true"
    >
      <span class="home-hero__word home-hero__word--last">
        DOMINICI
      </span>
    </div>
  </div>

  <img
    class="home-hero__person"
    src="/assets/hero-person.png"
    alt="Profilo in silhouette di Nicolas Dominici"
  />

  <div
    class="home-hero__caption"
    data-aos="fade-up"
    data-aos-delay="350"
    data-aos-duration="1100"
    data-aos-mirror="true"
  >
    <p>FULL-STACK &amp; SOFTWARE DEVELOPER</p>
    <span aria-hidden="true">&lt;/&gt;</span>
  </div>
</section>

<app-skills-ticker></app-skills-ticker>

<section id="about" class="section-block section-about">
  <app-about></app-about>
</section>
