<footer class="footer">
  <div class="footer-content" data-aos="zoom-in">
    <h3>Il mio portfolio</h3>
    <p>© 2025 Nicolas Dominici - Tutti i diritti riservati.</p>

    <div class="footer-icons">
      <a href="https://www.linkedin.com/in/nicolas-dominici-6981153a4/" aria-label="LinkedIn"><i
          class="fa-brands fa-linkedin"></i></a>
      <a href="https://github.com/Na1ky" aria-label="GitHub"><i class="fa-brands fa-github"></i></a>
      <a [routerLink]="['/contact']" aria-label="Email"><i class="fa-solid fa-envelope"></i></a>
    </div>
  </div>
</footer>
