<div class="hero-container d-flex align-items-center container-fluid">
  <div class="row align-items-center justify-content-between w-100 m-lg-5 text-center text-lg-start m-0">
    <!-- TEXT SECTION -->
    <div class="col-lg-6 mb-5 mb-lg-0 text-section ms-lg-5" data-aos="fade-right" data-aos-delay="200">

      <span class="badge-custom" [innerHTML]="'HOME.BADGE' | translate"></span>

      <h1 class="title-main">
        {{ 'HOME.TITLE_1' | translate }}
        <br />
        <span class="highlight">{{ 'HOME.TITLE_2' | translate }}</span>
      </h1>

      <p class="subtitle">
        {{ 'HOME.SUBTITLE_1' | translate }}<br>
        {{ 'HOME.SUBTITLE_2' | translate }}
      </p>

      <div class="tech-stack my-4">
        <span class="tag me-lg-3">Full Stack (.NET/MEAN)</span>
        <span class="tag me-lg-3">Sistemi & Reti</span>
        <span class="tag me-lg-3">Automazione (PLC)</span>
      </div>

      <div class="buttons mt-4">
        <button class="btn btn-primary me-lg-3 neon-red neon-red-hover" [routerLink]="['/portfolio']">{{ 'HOME.BTN_PORTFOLIO' | translate }}</button>
        <button class="btn btn-outline-light neon-red neon-red-hover" [routerLink]="['/contact']">{{ 'HOME.BTN_CONTACT' | translate }}</button>
      </div>
    </div>

    <!-- IMAGE SECTION -->
    <div class="col-lg-5 text-center ms-lg-5" data-aos="fade-left" data-aos-delay="300">
      <img src="/assets/home.gif" class="hero-img img-fluid" alt="Illustrazione laptop">
    </div>
  </div>
</div>

<section id="about" class="section-block section-about">
  <app-about></app-about>
</section>
