@if (dataService.isLoading()) {
<app-terminal-loader></app-terminal-loader>
} @else {
<section class="hero-section" data-aos="fade-up">
  <h1 class="hero-title"><span class="gradient-text">About me</span> <span class="underline"></span></h1>
  <div class="hero-container p-2 p-lg-5 mb-lg-5 justify-content-between text-center text-lg-start"> <!-- Left Image -->
    <div class="left-image img-fluid me-lg-5" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="200"><img
        src="https://picsum.photos/800/1000?grayscale" alt="Nicolas Dominici"></div> <!-- Right Content -->
    <div class="right-content w-75" data-aos-delay="400" data-aos="fade-left">
      <div class="top-content">
        <div class="section-label" data-aos="zoom-in" data-aos-delay="300"><span class="terminal-icon">[>]</span> <span
            class="label-text">Profilo di sistema</span>
        </div>
        <h1 class="main-title" data-aos="zoom-in" data-aos-delay="400">Nicolas <span class="red">Dominici</span>
        </h1>
        <h2 class="subtitle" data-aos="zoom-in" data-aos-delay="500">Sviluppatore Frontend <span class="slash">/</span>
          Ingegnere del Software</h2>
        <p class="description" data-aos="zoom-in" data-aos-delay="600"> Sono uno studente di informatica e networking
          appassionato di tecnologia, sicurezza e sviluppo moderno e pulito. Amo progettare sistemi veloci, stabili ed
          efficienti — unendo curiosità, precisione e una forte voglia di crescere. </p>
        <div class="quote-box" data-aos="zoom-in" data-aos-delay="600"><span class="quote-mark">"</span>
          <p>Affronto ogni progetto con curiosità e determinazione, trasformando le idee in esperienze digitali solide.
          </p>
        </div>
        <div #statsContainer class="stats-row d-flex flex-row mt-4"> @for (stat of stats; track stat.label) {
          <div class="stat-card" data-aos="zoom-in" data-aos-delay="1000"><span class="stat-icon">{{ stat.icon }}</span>
            <span class="stat-label">{{ stat.label }}</span>
            <div class="stat-value">{{ stat.displayValue() }} </div>
            <span class="stat-sublabel">{{ stat.sublabel }}</span>
          </div>
          }
        </div>
        <div class="action-buttons mt-lg-4" data-aos="zoom-in" data-aos-delay="600">
          <button class="btn-outline p-lg-3 p-2" (click)="goToCv()">Scarica CV</button>
          <button class="btn-primary" routerLink="/portfolio">Visualizza progetti →</button>
        </div>
      </div>
    </div>
  </div>
</section>
}
