<div class="loading-background d-flex justify-content-center align-items-center vh-100 text-center">
  <div class="loading-content">
    <div class="d-flex justify-content-center gap-5">
      <div class="icon-circle" data-aos="zoom-in" data-aos-delay="700">
        <div class="floating">
          <img src="/assets/code-brackets.png" alt="Code Icon">
        </div>
      </div>
      <div class="icon-circle" data-aos="zoom-in" data-aos-delay="900">
        <div class="floating">
          <img src="/assets/gear.png" alt="Gear Icon">
        </div>
      </div>
      <div class="icon-circle" data-aos="zoom-in" data-aos-delay="1100">
        <div class="floating">
          <img src="/assets/terminal.png" alt="Terminal Icon">
        </div>
      </div>
    </div>
    <h1 class="title mb-3" data-aos="fade-right" data-aos-delay="200">
      <span>Welcome to</span>
    </h1>
    <h2 class="title-sub mb-5" data-aos="fade-left" data-aos-delay="400">
      MY PORTFOLIO
    </h2>
  </div>
</div>
